@use "../create-mat-theme" as ct;

$green-theme:(
    50 : #e5eee0,
    100 : #bdd5b3,
    200 : #91b980,
    300 : #659c4d,
    400 : #448726,
    500 : #237200,
    600 : #1f6a00,
    700 : #1a5f00,
    800 : #155500,
    900 : #0c4200,
    A100 : #82ff77,
    A200 : #53ff44,
    A400 : #24ff11,
    A700 : #14f600,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$green-accent:(
    50 : #ebffe3,
    100 : #cefeb9,
    200 : #aefd8b,
    300 : #8dfc5c,
    400 : #74fc39,
    500 : #5cfb16,
    600 : #54fa13,
    700 : #4afa10,
    800 : #41f90c,
    900 : #30f806,
    A100 : #ffffff,
    A200 : #efffec,
    A400 : #c2ffb9,
    A700 : #acffa0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$light-theme: ct.create-material-theme-from-palette(
  $primary-map: $green-theme,
  $accent-map: $green-accent,
);

