@use "../create-mat-theme" as ct;
$theme-1-primary: (
  50: #f5e7ee,
  100: #e5c3d4,
  200: #d49bb7,
  300: #c3739a,
  400: #b65585,
  500: #a9376f,
  600: #a23167,
  700: #982a5c,
  800: #8f2352,
  900: #7e1640,
  A100: #ffb5d0,
  A200: #ff82b0,
  A400: #ff4f90,
  A700: #ff367f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$theme-1-accent: (
  50: #fef7e4,
  100: #fcecbb,
  200: #fadf8e,
  300: #f7d261,
  400: #f6c93f,
  500: #f4bf1d,
  600: #f3b91a,
  700: #f1b115,
  800: #efa911,
  900: #ec9b0a,
  A100: #ffffff,
  A200: #fff4e2,
  A400: #ffe0af,
  A700: #ffd696,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$light-theme: ct.create-material-theme-from-palette(
  $primary-map: $theme-1-primary,
  $accent-map: $theme-1-accent,
);
