<mat-form-field appearance="outline" class="field">
  <mat-label *ngIf="label">{{ label }}</mat-label>
  <input
    [formControl]="control || null"
    matInput
    placeholder="Placeholder"
    [type]="type"
  />
  <mat-icon matSuffix *ngIf="icon">{{ icon }}</mat-icon>
  
   <button
    *ngIf="passwordInput"
    mat-icon-button
    matSuffix
    (click)="type=='password'?type='text':type='password'"
    [attr.aria-label]="'Hide password'"
    type="button"
  >
    <mat-icon>{{ passwordVisibilityIcon }}</mat-icon>
  </button>
  
  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
  <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
</mat-form-field>
