<div class="course-info-container">
  <div class="course-info-header">
    <img
      src="https://assets.website-files.com/55f33a0152c98c9a451281aa/5e34486bd4897db8c07c1284_person-holding-barbell-841130.jpg"
      alt="background-image"
    />
    <div class="hero">
      <h1 class="title">title</h1>
      <h2 class="subtitle">subtitle</h2>
      <button>Action</button>
    </div>
  </div>
  <div class="content">
    <div class="content-box">
      <div class="class-description">
        <h4>About the class</h4>
        <h3>Lorem ipsum dolor sit amet.</h3>
        <br />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quidem
          consectetur id ut, quod sit omnis amet! Obcaecati repellendus corporis
          similique quod vitae! Culpa, ratione. Officiis voluptates voluptatem
          cumque sapiente, suscipit magnam deleniti vel, ut consequatur minima
          autem. Iusto, porro? Lorem ipsum, dolor sit amet consectetur
          adipisicing elit. Nisi provident veniam modi amet similique sed
          voluptatem non temporibus nihil repellat?
        </p>
      </div>
    </div>
    <div class="content-box">content 2</div>
  </div>
</div>

<div *ngIf="courseData">{{ courseData | json }}</div>
