:host {
  display: block;
  padding: 10px;
}

.table-container{
  overflow-x: auto;
  padding: 10px;


}

.input-field {
  font-size: 20px;
  padding: 5px;
  outline-width: 1px;
  outline-style: solid;
  border-radius: 6px;
}


.mat-column-delete{
  text-align: center;
}

mat-icon{
  color: red;
  cursor: pointer;
}

.form{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}