@for(exercise of week;track exercise.id){
{{ exercise | json }}
}
<div>
  <p>week {{ weekNumber }}</p>
  <table mat-table [dataSource]="week" class="mat-elevation-z8">
    <ng-container matColumnDef="exercise">
      <th mat-header-cell *matHeaderCellDef>Exercise</th>
      <td mat-cell *matCellDef="let element">
        <input type="text"
        placeholder="Pick one"
        aria-label="Number"
        matInput
        [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of options; track option) {
            <mat-option [value]="option">{{option}}</mat-option>
          }
        </mat-autocomplete>
       
      </td>
    </ng-container>
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>Weight</th>
      <td mat-cell *matCellDef="let element">
        <mat-select>
          @for (i of weightList;track i;){

          <mat-option [value]="i">{{ i }} KG</mat-option>
          }
        </mat-select>
      </td>
    </ng-container>
    <ng-container matColumnDef="sets">
      <th mat-header-cell *matHeaderCellDef>Sets</th>
      <td mat-cell *matCellDef="let element">
        <mat-select>
          @for (i of numberList;track i;){

          <mat-option [value]="i">{{ i }}</mat-option>
          }
        </mat-select>
      </td>
    </ng-container>
    <ng-container matColumnDef="reps">
      <th mat-header-cell *matHeaderCellDef>Reps</th>
      <td mat-cell *matCellDef="let element">
        <mat-select>
          @for (i of numberList;track i;){

          <mat-option [value]="i">{{ i }}</mat-option>
          }
        </mat-select>
      </td>
    </ng-container>
    <ng-container matColumnDef="rest">
      <th mat-header-cell *matHeaderCellDef>Rest</th>
      <td mat-cell *matCellDef="let element">
        <mat-select>
          @for (i of restIntervals;track i;){
            
            <mat-option [value]="i">{{ i }} sec</mat-option>
          }
        </mat-select>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon (click)="onRemoveExercise(element)">delete</mat-icon>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
  </table>
  <button mat-raised-button color="primary" (click)="onAddExercise()">
    Add exercise
  </button>
  <!-- <button>Add </button> -->
</div>
