<div class="workout-editor">
  <section>
    <app-month-select [(ngModel)]="month"></app-month-select>
  </section>
  <section>
    <ng-container appComponentHost></ng-container>
    @for( week of weeksExercisesList;track week?.[0];let i = $index;){
       <app-workout-week-editor [weekNumber]="week?.[1]?.[0]?.week || 0" [week]="week[1]" (addExercise)="addExercise($event)" (removeExercise)="removeExercise($event)"></app-workout-week-editor>
     }
     
    <div class="add-button-container">
      <button
        (click)="addWeekEditor()"
        mat-fab
        color="primary"
        aria-label="add"
        class="button-add"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </section>
</div>
