<form #form="ngForm" class="form" (ngSubmit)="submit()">
  <mat-form-field appearance="outline">
    <mat-select
      #reasonV="ngModel"
      [ngModel]="vm.review.reason"
      name="reason"
      required
    >
      @for (reason of contactReasons;track reason.value){
      <mat-option [value]="reason.value">{{ reason.description }}</mat-option>
      }
    </mat-select>
    <mat-label>Why are you contacting us?</mat-label>
    <mat-error>{{ reasonV.control.errors | validate }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label for="email">Email</mat-label>
    <input
      matInput
      type="email"
      id="email"
      name="email"
      ngModel
      required
      email
      #emailV="ngModel"
    />
    <mat-error>{{ emailV.control.errors | validate }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label for="email">Confirm Email</mat-label>
    <input
      email
      matInput
      type="email"
      id="confirm-email"
      [ngModelOptions]="{ standalone: true }"
      [(ngModel)]="confirmEmailvalue"
      required
      #confirmEmail="ngModel"
      [sameAs]="vm.review.email!"
      [fieldNames]="['Email', 'confirm Email']"
    />
    <span matError>{{ confirmEmail.control.errors | validate }}</span>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label for="name">Your name</mat-label>
    <input
      matInput
      type="text"
      id="name"
      name="name"
      ngModel
      required
      #nameV="ngModel"
    />
    <mat-error>{{ nameV.control.errors | validate }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label for="description">Description</mat-label>
    <textarea
      matInput
      name="description"
      id="description"
      ngModel
      minlength="10"
      #descriptionV="ngModel"
      required
      [ngModelOptions]="{ updateOn: 'blur' }"
      profanity
    ></textarea>
    <mat-error>{{ descriptionV.control.errors | validate }}</mat-error>
    <mat-hint>{{
      descriptionV.control.statusChanges | async | statusChanges
    }}</mat-hint>
  </mat-form-field>
  <app-address-sub-form [address]="vm.review.address!"></app-address-sub-form>
  <div
    ngModelGroup="privacyAndMarketing"
    [requiredCheckboxes]="['privacy']"
    #privacyControl="ngModelGroup"
  >
    @for(checkbox of checkboxes;track checkbox.label;let i = $index){
    <mat-checkbox
      [matTooltip]="checkbox.description"
      [name]="checkbox.name"
      [ngModel]="vm.review.privacyAndMarketing?.[checkbox.name]"
      (change)="privacyControl?.control?.markAsTouched()"
    >
      <div class="checkbox-label">
        <span class="label">
          {{ checkbox.label }}
        </span>
        <span class="description">
          {{ checkbox.description }}
        </span>
      </div>
    </mat-checkbox>
    }
  </div>
  <div>
    <app-template-form-error
      [control]="privacyControl!.control"
      [touched]="privacyControl?.control?.touched"
      [valid]="privacyControl?.control?.valid"
    ></app-template-form-error>
    <button mat-raised-button [color]="'primary'">Submit</button>
  </div>
</form>
