<form #form="ngForm" class="form" (ngSubmit)="submit()">
  <mat-form-field appearance="outline">
    <mat-select [ngModel]="vm.review.reason" name="reason">
      @for (reason of contactReasons;track reason.value){
      <mat-option [value]="reason.value">{{ reason.description }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label for="email">Email</mat-label>
    <input
      matInput
      type="email"
      id="email"
      name="email"
      [ngModel]="vm.review.email"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label for="email">Confirm Email</mat-label>
    <input
      matInput
      type="email"
      id="confirm-email"
      [ngModelOptions]="{ standalone: true }"
      [(ngModel)]="confirmEmailvalue"
      required
      #confirmEmail="ngModel"
      [sameAs]="vm.review.email!"
      [fieldNames]="['Email', 'confirm Email']"
    />
    <span matError>{{ confirmEmail.control.errors | validate }}</span>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label for="name">Your name</mat-label>
    <input
      matInput
      type="text"
      id="name"
      name="name"
      [ngModel]="vm.review.name"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label for="nation">Your name</mat-label>
    <input
      matInput
      type="text"
      id="nation"
      name="nation"
      [ngModel]="vm.review.nation"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label for="description">Description</mat-label>
    <textarea
      matInput
      name="description"
      id="description"
      [ngModel]="vm.review.description"
    ></textarea>
  </mat-form-field>
  <div
    ngModelGroup="privacyAndMarketing"
    [requiredCheckboxes]="['privacy']"
    #privacyControl="ngModelGroup"
  >
    @for(checkbox of checkboxes;track checkbox.label;let i = $index){
    <mat-checkbox
      [name]="checkbox.name"
      [ngModel]="vm.review.privacyAndMarketing?.[checkbox.name]"
      (change)="privacyControl?.control?.markAsTouched()"
    >
      <div class="checkbox-label">
        <span class="label">
          {{ checkbox.label }}
        </span>
        <span class="description">
          {{ checkbox.description }}
        </span>
      </div>
    </mat-checkbox>
    }
  </div>
  <div>
    <app-template-form-error
      [control]="privacyControl!.control"
      [touched]="privacyControl?.control?.touched"
      [valid]="privacyControl?.control?.valid"
    ></app-template-form-error>
    <button mat-raised-button [color]="'primary'">Submit</button>
  </div>
</form>
