@use '../../styles/variables/components/news-card' as nc;
.app-news-card {
  border-radius: 0;
}

.app-news-card-content{
    padding:nc.$news-card-padding;
    min-width: nc.$news-card-width;
    width: nc.$news-card-width;
    aspect-ratio: 1;
}


