@use "./../../styles/variables/components/news-cards-contents" as *;
.news-card-container {
  display: flex;
  border-radius: $card-container-border-radius;
  overflow: hidden;

  &.mobile {
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    gap: 2rem;
    border-radius: 0px;
  }
}

.action {
  text-transform: uppercase;
  padding: $button-padding;
  margin: auto;
  margin-bottom: 0;
  cursor: pointer;
}

.title-text {
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  font-size: $card-content-title-font-size;
}

.sub-text {
  all: unset;
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: $card-content-gap;
  height: 100%;
}

.image-text {
  text-transform: uppercase;
  display: flex;
  gap: 10px;
  height: $image-text-container-height;

  .image {
    flex-grow: 1;
    object-fit: cover;
    aspect-ratio: 1;
    height: 100%;
    border-radius: $card-container-border-radius;
  }
  .sub-text {
    flex-grow: 2;
  }
}

.image-text {
  text-transform: uppercase;
  display: flex;
  gap: 10px;
  height: $image-text-container-height;

  .image {
    flex-grow: 1;
    object-fit: cover;
    aspect-ratio: 1;
    height: 100%;
    border-radius: $card-container-border-radius;
  }
  .sub-text {
    flex-grow: 2;
  }
}

.footer {
  font-size: $footer-text-font-size;
  text-align: left;
  display: flex;
  flex-direction: column;

  .text-higlight {
    padding-inline: 0.2ch;
    border-radius: 5px;
  }
}
