.news-card-container {
  display: flex;
  border-radius: 10px;
  overflow: hidden;

  &.mobile {
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    gap: 2rem;
    border-radius: 0px;
  }
}

.content-primary {
}

.content-plain {
   display: flex;
   flex-direction: column;
   gap:15px;
  .title {
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    font-size: 20px;
    color: blue; // use colors of palette
  }

  .image-text {
    text-transform: uppercase;
    display: flex;
    gap: 10px;
    height: 80px;

    .image {
      
      flex-grow: 1;
      object-fit: cover;
      aspect-ratio: 1;
      height: 100%;
      border-radius: 8px;
    }
    .text {
      flex-grow: 2;
      all: unset;
      grid-column: 2 /-1;
      text-align: left;
      font-weight: 600;
    }
  }

  .footer{
    font-size: 13px;
    text-align: left;
    display: flex;
    flex-direction: column;
    p{
      margin:0;
      padding: 0;
    }
  }
}

.content-secondary {
}
