<div class="news-card-container" appAddMobileClass>
  <app-news-card color="primary"> </app-news-card>
  <app-news-card color="plain">
    <div class="content-plain">
      <div class="title">Lorem ipsum dolor sit.</div>
      <div class="image-text">
        <img
          src="https://assets.website-files.com/55f3386352c98c9a451280f9/5e3447af99e6ac3503527e27_man-carrying-barbel-791763.jpg"
          alt=""
          class="image"
        />
        <h2 class="text">Lorem ipsum dolor sit amet consectetur.</h2>
      </div>
      <div class="footer">
        <p>By <span>Federik Mullen</span></p>
        <p>Published on 12/06/2022</p>
      </div>
    </div>
  </app-news-card>
  <app-news-card color="secondary"> content3 </app-news-card>
</div>
