<div class="content-wrapper">
  <div class="image-section">
    <img
      src="https://images.unsplash.com/photo-1682686581362-796145f0e123?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
      alt=""
    />
    <div class="toolbar">
        <nav>
            <ul>
                <li>login</li>
                <li>logout</li>
            </ul>
        </nav>
    </div>
  </div>
  <mat-card class="app-card-content">
   <mat-card-content>
      card content
       <ng-content></ng-content>
   </mat-card-content>
  </mat-card>
</div>
