<div class="content-wrapper">
  <div class="image-section">
    <img
      [src]="backgroundImg()"
      alt=""
    />
    <div class="toolbar">
      <nav class="toolbar-nav">
        <ul class="actions">
          <li class="action" [routerLink]="editUserRoute"><mat-icon>edit</mat-icon>Edit profile</li>
          <li class="action"><mat-icon>settings</mat-icon> Settings</li>
          <li class="action" (click)="logout()"><mat-icon>logout</mat-icon>logout</li>
        </ul>
      </nav>
    </div>
  </div>
  <mat-card class="app-card-content">
    <mat-card-content>
      <ng-content></ng-content>
    </mat-card-content>
  </mat-card>
</div>
