<mat-toolbar
  class="app-toolbar background"
  [ngClass]="{ 'scrolled-bg': scrolled$ | async }"
>
  <div
    class="app-toolbar-content"
    [ngClass]="{
      mobile: isSmallDevice$ | async,
      'scrolled-bg': scrolled$ | async
    }"
  >
    <app-app-logo size="large" class="app-toolbarlogo" (click)="menuopen = false"></app-app-logo>
    <nav class="app-nav" *ngIf="!(isSmallDevice$ | async)">
      <ul class="app-navigation-links">
        <li
          class="link"
          *ngFor="let link of links"
          [routerLink]="link.routerLink"
        >
          {{ link.label }}
        </li>
      </ul>
    </nav>
    <span class="spacer" *ngIf="isSmallDevice$ | async"></span>
    <button
      mat-button
      *ngIf="isSmallDevice$ | async"
      (click)="menuopen = !menuopen"
    >
      <mat-icon class="menu-icon">{{
        menuopen ? "menu_open" : "menu"
      }}</mat-icon>
    </button>
  </div>
</mat-toolbar>
<app-mobile-toolbar-links
  *ngIf="menuopen && (isSmallDevice$ | async)"
  #mobilemenu
  (clickedInItem)="menuopen = !menuopen"
  (clickedOnDropdown)="menuopen = false"
  [links]="links"
></app-mobile-toolbar-links>
