<form (formValueChange)="formValueChanged($event)" class="form">
  <mat-form-field appearance="outline">
    <mat-label>Week</mat-label>
    <mat-select name="week" [ngModel]="formValue.week">
      @for (i of days;track i;){
      <mat-option [value]="i">Week {{ i }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Exercise</mat-label>
    <input
      matInput
      type="text"
      name="exercise"
      [ngModel]="formValue.exercise"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of autocompleteOptions; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Day</mat-label>
    <mat-select name="day" [ngModel]="formValue.day">
      @for (i of days;track i;){
      <mat-option [value]="i">DAY {{ i }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Weight</mat-label>
    <mat-select panelWidth="200" name="weight" [ngModel]="formValue.weight">
      @for (i of weightList;track i;){
      <mat-option [value]="i">{{ i }} KG</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Sets</mat-label>
    <mat-select panelWidth="300" [ngModel]="formValue.sets" name="sets">
      @for (i of numberList;track i;){

      <mat-option [value]="i">{{ i }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Reps</mat-label>
    <mat-select panelWidth="300" name="reps" [ngModel]="formValue.reps">
      @for (i of numberList;track i;){

      <mat-option [value]="i">{{ i }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Rest</mat-label>
    <mat-select [ngModel]="formValue.rest" name="rest">
      @for (i of restIntervals;track i;){

      <mat-option [value]="i">{{ i }} sec</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onSaveExercise()">
    @if(formState=='add'){ Add exercise }@else { Edit exercise }
  </button>
  <button mat-raised-button color="primary" (click)="copyLastWeek()">
    Clone last week in new week
  </button>
  <button mat-raised-button color="primary" (click)="onDiscardChanges()">
    Discard changes
  </button>
</form>
