<mat-toolbar color="primary" class="authentication-toolbar height">
  <app-app-logo></app-app-logo>
  <span class="spacer"></span>
  <div class="links">
    <a [routerLink]="['/signup']" routerLinkActive="active-link">Signup</a>
    <a [routerLink]="['/login']" routerLinkActive="active-link">Login</a>
  </div>
</mat-toolbar>

<!-- <button
  mat-icon-button
  class="example-icon"
  aria-label="Example icon-button with menu icon"
>
  <mat-icon>menu</mat-icon>
</button>
<span>My App</span>
<span class="example-spacer"></span>
<button
  mat-icon-button
  class="example-icon favorite-icon"
  aria-label="Example icon-button with heart icon"
>
  <mat-icon>favorite</mat-icon>
</button>
<button
  mat-icon-button
  class="example-icon"
  aria-label="Example icon-button with share icon"
>
  <mat-icon>share</mat-icon>
</button> -->
