<ng-container *ngIf="user() as user; else nouser">
  <section class="header-section">
    <div class="avatar">
      <img [src]="profileImg" alt="" />
    </div>
    <div class="header-text">
      <h2>{{ name }}</h2>
      <p>Your dashboard</p>
    </div>
  </section>
  <section class="profile-body" [ngClass]="{ mobile: isSmallDevice$ | async }">
    <div class="profile-data">
      <h2>Profile data</h2>
      <div>
        <h3 class="profile-data-title">Your Bio</h3>
        <p class="bio" *ngIf="bio as bio">
          {{ bio }}
        </p>
      </div>
      <ul class="personal-data">
        <li class="entry" *ngIf="name as name">
          <span>Name: </span>
          <span>{{ name }}</span>
        </li>
        <li class="entry" *ngIf="email">
          <span>Email: </span>
          <span>{{ email }}</span>
        </li>
        <li class="entry">
          <span>ID: </span>
          <span>{{ uid }}</span>
        </li>
        <li class="entry" *ngIf="gender">
          <span>Gender: </span>
          <span>{{ gender }}</span>
        </li>
      </ul>

      <div class="socials" *ngIf="socials">
        <h3 class="profile-data-title">Socials</h3>
        <app-profile-socials-links
          [socialConfig]="socialsConfig"
          [socials]="socials"
        ></app-profile-socials-links>
      </div>
    </div>
    <div class="mini-apps">
      <app-mini-app-card
        title="Workout page"
        description="All your workouts are here!"
        cardIconUrl="https://www.svgrepo.com/show/475554/gym.svg"
        [linkToPage]="workoutPagePath"
      ></app-mini-app-card>
      <app-mini-app-card
        title="Create a workout"
        description="Create a workout!"
        cardIconUrl="https://www.svgrepo.com/show/467553/bench-press-2.svg"
        [linkToPage]="workoutEditorPath"
      ></app-mini-app-card>
    </div>
  </section>
</ng-container>

<ng-template #nouser>
  <p>No data available for this user :(</p>
</ng-template>
