<form [formGroup]="form">
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title> Personal data </mat-panel-title>
        <mat-panel-description>
          Type your name and age
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div class="fields">
          <app-text-input
            placeholder="Name"
            icon="face"
            hint="You can change your name here"
            [errorMessage]="''"
            label="Name"
            [formControl]="nameControl"
          ></app-text-input>
          <app-text-input
            placeholder="Your bio..."
            [errorMessage]="''"
            label="Bio"
            [asTextArea]="true"
            [formControl]="bioControl"
          ></app-text-input>
          <app-gender-selector
            [formControl]="genderControl"
          ></app-gender-selector>
        </div>
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title> Social media </mat-panel-title>
        <mat-panel-description>
          All your social media connections
          <mat-icon>group</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-social-media-form-input [formArray]="socialsArrayControl">
          <app-social-media-input
            *ngFor="let group of socialsArrayControl.controls;let i = index"
            [formGroup]="group"
            [socials]="socials"
            (deleteSocial)="deleteSocialMedia(i)"
          ></app-social-media-input>
        </app-social-media-form-input>
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title> Your images </mat-panel-title>
        <mat-panel-description>
          Edit your profile pictures
          <mat-icon>photo_camera</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
         <app-picture-upload (pictureChange)="pictureChange($event)"></app-picture-upload>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="actions">
    <button mat-flat-button [routerLink]="[profileRoute]">Exit</button>
    <button mat-flat-button color="primary" (click)="submitform()">Save</button>
  </div>
</form>
