<mat-card>
  <mat-card-content>
    <div class="img-container">
      <img
        src="https://www.svgrepo.com/show/475554/gym.svg"
        alt="the card image"
      />
    </div>
    <div class="description">
      <h2 class="title">Your progress in the gym</h2>
      <h3 class="subtitle">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
        officia.
      </h3>
    </div>
    <div class="action">
        <button class="go-button go-button-colors">Go!</button>
    </div>
  </mat-card-content>
</mat-card>
