:host {
  transition: all 0.2s ease;
  will-change: transform;
  &:hover {
    transform: scale(1.02);
  }
  &:active{
    transform: scale(1);
  }
}
mat-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  gap: 40px;
  cursor: pointer;
}
.img-container {
  width: 60px;
  height: 60px;
  position: relative;
  img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
.description {
  flex-grow: 1;
}

h2,
h3 {
  padding: 0;
  margin: 0;
}
