<mat-sidenav-container
  class="app-sidenav-container"
  [hasBackdrop]="false"
  [autosize]="true"
>
<!-- todo _ the sidenav -->
  <mat-sidenav
    #sidenav
    [disableClose]="false"
    [opened]="false"
    mode="side"
    *ngIf="!(isSmallDevice$ | async)"
  >
    <div class="dashboard-sidenav">
      <div>
        <button (click)="expanded = !expanded">[TO]</button>
      </div>
      <ul>
        <li class="item">
          <span>[icona]</span>
          <span class="navitem" *ngIf="expanded">IL contentueo</span>
        </li>
        <li class="item">
          <span>[icona]</span>
          <span class="navitem" *ngIf="expanded">IL contentueo</span>
        </li>
        <li class="item">
          <span>[icona]</span>
          <span class="navitem" *ngIf="expanded">IL contentueo</span>
        </li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="mat-sidenav-content">
    <div class="dashboard-content">
      <app-dashboard-page>
        <router-outlet></router-outlet>
      </app-dashboard-page>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
