@use './app/styles/reset';
@use './app/styles/normalize';
@use './app/styles/material/material';
@use './app/styles/fonts';
@use './app/styles/material/snackbar';


//TODO: al these themes must be lazy loaded using a service!!

@use './app/styles/themes/dark-theme';
@use './app/styles/themes/default-theme';
@use './app/styles/themes/theme-pink';
@use './app/styles/themes/theme-green';



// all global variables
:root{
    //homepage course info difficulties
    --home-difficulty-background-beginner:rgb(35, 119, 35);
    --home-difficulty-background-intermediate:rgb(42, 42, 195);
    --home-difficulty-background-advanced:rgba(176, 0, 0, 0.823);
}


