<!-- <app-workouts-table /> -->

<div class="day-selector">
  <app-button-toggle
    [items]="avalableWeekNumbers() || []"
    (change)="selectWeek($event)"
  ></app-button-toggle>
  <app-button-toggle
    [items]="availableDayNumbers() || []"
    (change)="selectDay($event)"
  ></app-button-toggle>
</div>

<app-workout-panel [exerciseList]="dayExercises()" (exerciseUpdated)="exerciseUpdated($event)"></app-workout-panel>
<!-- <app-week-workout-table
  [dataSource]="dayTableData() || []"
></app-week-workout-table> -->
