@use "../../styles/variables/components/toolbar" as t;
@use '../../styles/variables/components/slideshow' as *;
.slide-show {
  width: 100%;
  height: $slide-show-height;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  position: relative;

  &::before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.38139005602240894) 100%
    );
    z-index: 2;
  }
}

.slide-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.slide-content {
  padding-top: t.$toolbar-height;
  position: relative;
  z-index: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide-hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $slide-show-hero-content-gap;
  .title {
    font-size: $slide-show-title-font;
    text-transform: uppercase;
    font-weight: bold;
  }
  .subtitle {
    font-size: $slide-show-subtitle-font;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.actions{
  display: flex;
  justify-content: center;
  gap:40px;
  margin: auto;
  width: fit-content;
}

.slide-hero-container.mobile{
  gap:1rem;
  .title{
    font-size: 22px;
  }
  .subtitle{
    font-size: 18px;
  }
}

// todo: move in the slide-hero container
