<div class="slide-show">
  <ng-container
    [ngTemplateOutlet]="slide"
    [ngTemplateOutletContext]="slide$ | async"
  ></ng-container>
</div>

<ng-template #slide let-src="src" let-title="title" let-subtitle="subtitle">
  <div class="slide">
    <img [src]="src" alt="" class="slide-img" />
    <div class="slide-content">
      <div class="slide-hero-container" appAddMobileClass>
        <h1 class="title">{{ title }}</h1>
        <h2 class="subtitle">{{ subtitle }}</h2>
        <div class="actions">
          <a [routerLink]="['/signup']">
            <app-hero-button>Signup</app-hero-button>
          </a>
          <a [routerLink]="['/signup']">
            <app-hero-button color="accent">Login</app-hero-button>
          </a>

        </div>
      </div>
    </div>
  </div>
</ng-template>
